.wordlist-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 150px;
}
.wordlist-content {
    margin-top: -6%;
    border-radius: 100;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 150px;
}

.wordlist-card-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    grid-area: 1 / 1 / 2 / 2;
    height: 150px; 
}
.wordlist-card-div2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    grid-area: 1 / 2 / 2 / 5;
    height: 150px;
}

.wordlist-card-title {
    /* position:fixed; */
    font-weight: 1000;
    margin-top: 15%;
}



.wordlist-card-div3 { grid-area: 1 / 5 / 2 / 6;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;}


.wordlist-card-image {
    height: 50px;
    width: 50px;
    border-radius: 10rem;
    overflow: hidden;
}
